<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">FirstName</th>
      <th scope="col">Middle</th>
      <th scope="col">LastName</th>
      <th scope="col">Gender</th>


    </tr>
    <tr>
<!-- <th scope="col">DOB</th>
      <th scope="col">level of education</th>
      <th scope="col">years studey</th>
      <th scope="col">course study</th>
      <th scope="col">University name</th> -->
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{studentInfo?.studentId}}</td>
      <td>{{studentInfo?.firstName}}</td>
      <td>{{studentInfo?.middleName}}</td>
      <td>{{studentInfo?.lastName}}</td>
      <td>{{studentInfo?.gender}}</td>



    </tr>

    <!-- <tr>
      <td>{{studentInfo?.dob}}</td>
      <td>{{studentInfo?.educationLevel.educationName}}</td>
      <td>{{studentInfo?.yearStudy.year}}</td>
      <td>{{studentInfo?.courseStudy.courseName}}</td>
      <td>{{studentInfo?.university.universityName}}</td>

    </tr> -->


  </tbody>
</table>


<table class="table table-borderless">
  <thead>

    <tr>
<th scope="col">DOB</th>
      <th scope="col">level of education</th>
      <th scope="col">years studey</th>
      <th scope="col">course study</th>
      <th scope="col">University name</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>{{studentInfo?.dob}}</td>
      <td>{{studentInfo?.educationLevel.educationName}}</td>
      <td>{{studentInfo?.yearStudy.year}}</td>
      <td>{{studentInfo?.courseStudy.courseName}}</td>
      <td>{{studentInfo?.university.universityName}}</td>

    </tr>


  </tbody>
</table>
